<header>
    <div class="background-image"></div>
    <div class="intro">
        <h1>
            Code Challenge
        </h1>
        <label>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, reiciendis, hic voluptates non ab velit quae
        </label>
    </div>

</header>

<main>
    <div class="container">
        <article>
            <h2>
                Products
            </h2>

            <app-products></app-products>

        </article>
        <article>
            <h2>Contact</h2>
            <app-contact></app-contact>
        </article>
    </div>
</main>