<div class="card" (click)="checked = !checked">
    <div class="checkbox">
        <mat-checkbox color="primary" [checked]="checked"></mat-checkbox>
    </div>
    <div class="image"(click)="$event.preventDefault()"></div>
    <div class="content" (click)="$event.preventDefault()">
        <h4>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, commodi?
        </h4>
        <p>
            Dicta quas sunt deleniti incidunt aspernatur laboriosam repudiandae, cum suscipit veritatis aut!
            Nesciunt fuga in ab rem maxime sequi quod!
        </p>
    </div>
</div>